#root {
    grid-template-columns: 20% 80%;
    display: grid;
    --prime-color: #264e70;
    --card-color: #cae1ff;
    color: #f5f5f5;
    margin: -8px;
}

button {
    background-color: #ef6c57;
    border-radius: 5px;
    padding: 5px 20px;
    color: #f5f5f5;
    font: normal bold 18px 'Open Sans',sans-serif;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
    transition: all 0.3s;
    background-color: #9c3829;
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    grid-column: 2;
    margin-top: 2%;
}